.taskCard {
    padding: 10px;
    width: 90%;
    background-color: #DDDDDD;
    box-sizing: border-box;
    margin: 10px auto;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}
.taskCard span {
    position: absolute;
    right: 4px;
    top: -5px;
}